body{
  margin:0;
  overflow-x: hidden;
}
    @media screen and (max-width: 490px){
      body{
        margin:0;
        overflow-x: hidden;
      }
      .parallax{
        background-size: 700px;
      }
      #only{
transform: translate(45%,550%);
      }
      #one{
        margin-left: 65px;
      }
      #two{
            margin-left: 255px;
      }
      .spon{
        transform: translateY(-50%);
      }
.spon #event{
        font-size: 50px;
      }
      #tit{
        transform: translateY(-1250%);
      }

      #myCarousel{
        transform: translateY(-40%);
        width:491px;
      }
      #trans{
        transform: translateY(-600%);
        margin-left:70px;
        widtH:70%;

      }
      .oneline{
        float:left;

      }
      #tas{
        transform: translateY(-830%);
        width:50%;
        margin-left: 120px;
      }
      #xyz{
        transform: translateY(-600%);
                width:30%;
                margin-left: 170px;
      }
      #glob{
        transform: translateY(-280%);
                width:30%;
                margin-left: -150px;
      }
      #myCarousel{
        transform: translateX(-20%);
      }
      #dead1{
        transform: translate(-25%,4200%);

      }
      #dead2{
        transform: translate(25%,4200%);
      }
      #so{
        transform: translateX(20%);
      }
      footer{

        transform: translateY(800%);
      }
    }
    @media screen and (max-width: 480px){
      .parallax{
        background-size: 690px;
      }
    #myCarousel{
        transform: translateX(-21%);
      width:485px;
    }
    .spon #event{
            font-size: 50px;
          }
          #tit{
            transform: translateY(-1270%);
          }
          footer{
            transform: translateY(700%);
          }
          #myCarousel{
            transform: translateY(20%);
      width:490px;
          }
          #trans{
            transform: translateY(-600%);
            margin-left:70px;
            widtH:72%;

          }
          .oneline{
            float:left;

          }
          #tas{
            transform: translateY(-830%);
            width:52%;
            margin-left: 120px;
          }
          #xyz{
            transform: translateY(-600%);
                    width:32%;
                    margin-left: 170px;
          }
          #glob{
            transform: translateY(-280%);
                    width:32%;
                    margin-left: -150px;
          }
          #myCarousel{
            transform: translateX(-21%);
          }
          #dead1{
            transform: translate(-25%,4200%);

          }
          #dead2{
            transform: translate(25%,4200%);
          }

            #so{
              transform: translateX(20%);
            }
footer{
  width:480px;
}
      }
      @media screen and (max-width: 470px){
        .parallax{
          background-size: 680px;
        }
      #myCarousel{
          transform: translateX(-21%);
        width:475px;
      }
      .spon #event{
              font-size: 50px;
            }

            footer{
              transform: translateY(700%);
            }
            #myCarousel{
              transform: translateY(20%);
        width:490px;
            }
            #trans{
              transform: translateY(-600%);
              margin-left:70px;
              widtH:71%;

            }
            .oneline{
              float:left;

            }
            #tas{
              transform: translateY(-830%);
              width:51%;
              margin-left: 120px;
            }
            #xyz{
              transform: translateY(-600%);
                      width:31%;
                      margin-left: 170px;
            }
            #glob{
              transform: translateY(-280%);
                      width:31%;
                      margin-left: -150px;
            }
            #myCarousel{
              transform: translateX(-21%);
            }
            #dead1{
              transform: translate(-25%,4200%);

            }
            #dead2{
              transform: translate(25%,4200%);
            }

              #so{
                transform: translateX(20%);
              }

  footer{
    width:480px;
  }
  #tit{
    transform: translateY(-1900%);
  }
        }
        @media screen and (max-width: 470px){
              body{width:480px;}
          footer{
            width:460px;
          }
          #tit{
            transform: translateY(-1900%);
          }
          .parallax{
            background-size: 670px;
          }
                #myCarousel{
                    transform: translateX(-21%);
                  width:475px;
                }
                .spon #event{
                        font-size: 50px;
                      }
                      #tit{
                        transform: translateY(-1180%);
                      }
                      footer{
                        transform: translateY(700%);
                      }
                      #myCarousel{
                        transform: translateY(20%);
                  width:490px;
                      }
                      #trans{
                        transform: translateY(-600%);
                        margin-left:70px;
                        widtH:70%;

                      }
                      .oneline{
                        float:left;

                      }
                      #tit{
                        transform: translateY(-1220%);
                      }
                      #tas{
                        transform: translateY(-830%);
                        width:50%;
                        margin-left: 120px;
                      }
                      #xyz{
                        transform: translateY(-600%);
                                width:30%;
                                margin-left: 170px;
                      }
                      #glob{
                        transform: translateY(-280%);
                                width:30%;
                                margin-left: -150px;
                      }
                      #myCarousel{
                        transform: translateX(-21%);
                      }
                      #dead1{
                        transform: translate(-25%,4200%);

                      }
                      #dead2{
                        transform: translate(25%,4200%);
                      }

                        #so{
                          transform: translateX(20%);
                        }
                      }
                      @media screen and (max-width: 460px){
                        .parallax{
                          background-size: 660px;
                        }
                              #myCarousel{
                                  transform: translateX(-21%);
                                width:465px;
                              }
                              .spon #event{
                                      font-size: 50px;
                                    }
                                    #tit{
                                      transform: translateY(-1180%);
                                    }
                                    footer{
                                      transform: translateY(700%);
                                                    width:466px;
                                    }
                                    #myCarousel{
                                      transform: translateY(20%);
                                width:490px;
                                    }
                                    #trans{
                                      transform: translateY(-600%);
                                      margin-left:70px;
                                      widtH:70%;

                                    }
                                    #tit{
                                      transform: translateY(-1220%);
                                    }
                                    .oneline{
                                      float:left;

                                    }
                                    #tas{
                                      transform: translateY(-830%);
                                      width:50%;
                                      margin-left: 120px;
                                    }
                                    #xyz{
                                      transform: translateY(-600%);
                                              width:30%;
                                              margin-left: 170px;
                                    }
                                    #glob{
                                      transform: translateY(-280%);
                                              width:30%;
                                              margin-left: -150px;
                                    }
                                    #myCarousel{
                                      transform: translateX(-21%);
                                    }
                                    #dead1{
                                      transform: translate(-25%,4200%);

                                    }
                                    #dead2{
                                      transform: translate(25%,4200%);
                                    }

                                      #so{
                                        transform: translateX(20%);
                                      }
                                    }
                                    @media screen and (max-width: 450px){
                                      html{
                                        overflow-x: hidden;
                                      }
                                      .spon #event{
                                              font-size: 50px;
                                              transform: translateY(-500%);
                                            }
                                      .parallax{
                                        background-size: 650px;
                                      }
                                      #only{
                                transform: translate(30%,510%);
                                      }
                                      #one{
                                        margin-left: 60px;

                                      }
                                      #one{
                                        margin-top: 460px;
                                      }
                                      #two{
                                            margin-left: 245px;
                                      }

                                            #myCarousel{

                                              width:480px;
                                            }
                                            .spon #event{
                                                    font-size: 50px;
                                                  }
                                                  #tit{
                                                    transform: translateY(-1180%);
                                                  }
                                                  #tit{
                                                    transform: translateY(-1240%);
                                                  }
                                                  footer{
                                                    transform: translateY(700%);
                                                    width:500px;
                                                  }
                                                  #myCarousel{
                                    transform: translate(58%,20%);

                                              width:490px;
                                                  }
                                                  #trans{
                                                    transform: translateY(-580%);
                                                    margin-left:70px;
                                                    widtH:76%;

                                                  }
                                                  .oneline{
                                                    float:left;

                                                  }
                                                  #tas{
                                                    transform: translateY(-830%);
                                                    width:50%;
                                                    margin-left: 120px;
                                                  }
                                                  #xyz{
                                                    transform: translateY(-600%);
                                                            width:30%;
                                                            margin-left: 170px;
                                                  }
                                                  #glob{
                                                    transform: translateY(-280%);
                                                            width:30%;
                                                            margin-left: -150px;
                                                  }
                                                  #myCarousel{
                                                    transform: translateX(-21.5%);
                                                  }
                                                  #dead1{
                                                    transform: translate(-25%,4250%);

                                                  }
                                                  #dead2{
                                                    transform: translate(25%,4250%);
                                                  }

                                                    #so{
                                                      transform: translateX(20%);
                                                    }
                                                  }
                                                  @media screen and (max-width: 440px){

                                                    .spon #event{
                                                            font-size: 50px;
                                                            transform: translateY(-500%);
                                                          }
                                                    .parallax{
                                                      background-size: 640px;
                                                    }
                                                    #only{
                                                  transform: translate(30%,510%);
                                                    }
                                                    #one{
                                                      margin-left: 60px;

                                                    }
                                                    #one{
                                                      margin-top: 430px;
                                                    }
                                                    #two{
                                                          margin-left: 235px;
                                                    }
                                                          #myCarousel{
                                                              transform: translateX(-23%);
                                                            width:460px;
                                                          }
                                                          .spon #event{
                                                                  font-size: 50px;
                                                                }
                                                                #tit{
                                                                  transform: translateY(-1140%);
                                                                }
                                                                #tit{
                                                                  transform: translateY(-1230%);
                                                                }
                                                                footer{
                                                                  transform: translateY(700%);
                                                                }
                                                                #myCarousel{
                                                                  transform: translateY(20%);
                                                            width:460px;
                                                                }
                                                                #trans{
                                                                  transform: translateY(-580%);
                                                                  margin-left:70px;
                                                                  widtH:76%;

                                                                }
                                                                .oneline{
                                                                  float:left;

                                                                }
                                                                #tas{
                                                                  transform: translateY(-830%);
                                                                  width:50%;
                                                                  margin-left: 120px;
                                                                }
                                                                #xyz{
                                                                  transform: translateY(-600%);
                                                                          width:30%;
                                                                          margin-left: 170px;
                                                                }
                                                                #glob{
                                                                  transform: translateY(-280%);
                                                                          width:30%;
                                                                          margin-left: -150px;
                                                                }
                                                                #myCarousel{
                                                                  transform: translateX(-21.5%);
                                                                }
                                                                #dead1{
                                                                  transform: translate(-25%,4300%);

                                                                }
                                                                #dead2{
                                                                  transform: translate(25%,4300%);
                                                                }

                                                                  #so{
                                                                    transform: translateX(20%);
                                                                  }
                                                                }
                                                                @media screen and (max-width: 430px){

                                                                  .spon #event{
                                                                          font-size: 50px;
                                                                          transform: translateY(-500%);
                                                                        }
                                                                  .parallax{
                                                                    background-size: 630px;
                                                                  }
                                                                  #only{
                                                                transform: translate(30%,510%);
                                                                  }
                                                                  #one{
                                                                    margin-left: 60px;

                                                                  }
                                                                  #one{
                                                                    margin-top: 430px;
                                                                  }
                                                                  #two{
                                                                        margin-left: 235px;
                                                                  }
                                                                        #myCarousel{
                                                                            transform: translateX(-23%);
                                                                          width:460px;
                                                                        }
                                                                        .spon #event{
                                                                                font-size: 50px;
                                                                              }
                                                                              #tit{
                                                                                transform: translateY(-1140%);
                                                                              }
                                                                              #tit{
                                                                                transform: translateY(-1230%);
                                                                              }
                                                                              footer{
                                                                                transform: translateY(700%);
                                                                              }
                                                                              #myCarousel{
                                                                                transform: translateY(20%);
                                                                          width:460px;
                                                                              }
                                                                              #trans{
                                                                                transform: translateY(-580%);
                                                                                margin-left:70px;
                                                                                widtH:76%;

                                                                              }
                                                                              .oneline{
                                                                                float:left;

                                                                              }
                                                                              #tas{
                                                                                transform: translateY(-830%);
                                                                                width:50%;
                                                                                margin-left: 120px;
                                                                              }
                                                                              #xyz{
                                                                                transform: translateY(-600%);
                                                                                        width:30%;
                                                                                        margin-left: 170px;
                                                                              }
                                                                              #glob{
                                                                                transform: translateY(-280%);
                                                                                        width:30%;
                                                                                        margin-left: -150px;
                                                                              }
                                                                              #myCarousel{
                                                                                transform: translateX(-21.5%);
                                                                              }
                                                                              #dead1{
                                                                                transform: translate(-25%,4300%);

                                                                              }
                                                                              #dead2{
                                                                                transform: translate(25%,4300%);
                                                                              }

                                                                                #so{
                                                                                  transform: translateX(20%);
                                                                                }
                                                                              }
                                                                              @media screen and (max-width: 420px){

                                                                                .spon #event{
                                                                                        font-size: 50px;
                                                                                        transform: translateY(-500%);
                                                                                      }
                                                                                .parallax{
                                                                                  background-size: 620px;
                                                                                }
                                                                                #only{
                                                                              transform: translate(30%,510%);
                                                                                }
                                                                                #one{
                                                                                  margin-left: 55px;

                                                                                }
                                                                                #one{
                                                                                  margin-top: 430px;
                                                                                }
                                                                                #two{
                                                                                      margin-left: 235px;
                                                                                }
                                                                                      #myCarousel{
                                                                                          transform: translateX(-23%);
                                                                                        width:460px;
                                                                                      }
                                                                                      .spon #event{
                                                                                              font-size: 50px;
                                                                                            }
                                                                                            #tit{
                                                                                              transform: translateY(-1140%);
                                                                                            }
                                                                                            #tit{
                                                                                              transform: translateY(-1230%);
                                                                                            }
                                                                                            footer{
                                                                                              transform: translateY(700%);
                                                                                            }
                                                                                            #myCarousel{
                                                                                              transform: translateY(20%);
                                                                                        width:460px;
                                                                                            }
                                                                                            #trans{
                                                                                              transform: translateY(-580%);
                                                                                              margin-left:70px;
                                                                                              widtH:76%;

                                                                                            }
                                                                                            .oneline{
                                                                                              float:left;

                                                                                            }
                                                                                            #tas{
                                                                                              transform: translateY(-830%);
                                                                                              width:50%;
                                                                                              margin-left: 120px;
                                                                                            }
                                                                                            #xyz{
                                                                                              transform: translateY(-600%);
                                                                                                      width:30%;
                                                                                                      margin-left: 170px;
                                                                                            }
                                                                                            #glob{
                                                                                              transform: translateY(-280%);
                                                                                                      width:30%;
                                                                                                      margin-left: -150px;
                                                                                            }
                                                                                            #myCarousel{
                                                                                              transform: translateX(-21.5%);
                                                                                            }
                                                                                            #dead1{
                                                                                              transform: translate(-25%,4300%);

                                                                                            }
                                                                                            #dead2{
                                                                                              transform: translate(25%,4300%);
                                                                                            }

                                                                                              #so{
                                                                                                transform: translateX(20%);
                                                                                              }
                                                                                            }
@media screen and (max-width: 400px){
  #two{
    width:38%;
  }
  #one{
    margin-top: 380px;
  }
  #only{
    transform: translate(15%,380%);
  }
  #add{
    transform: translateX(-30%);
  }
  #li{
      transform: translateX(-65%);
  }
  #dead1{
    transform: translate(-25%,4300%);

  }
  #dead2{
    transform: translate(95%,4300%);
  }
  .sec{
      margin-left: 80px;
  }
}
@media screen and (max-width: 390px){
  #two{
    width:38%;
            font-size: 17px;
  }
  #one{
        width:38%;
        margin-left: 70px;
        font-size: 17px;
  }
  #one{
    margin-top: 400px;
  }
  #only{
    transform: translate(15%,380%);
  }
  #add{
    transform: translateX(-30%);
  }
  #li{
      transform: translateX(-65%);
  }
  #dead1{
    transform: translate(-15%,4300%);

  }
  #dead2{
    transform: translate(95%,4300%);
  }
  .sec{
      margin-left: 80px;
  }
  #trans{
    transform: translateY(-560%);
    margin-left:50px;
    widtH:78%;

  }
  .oneline{
    float:left;

  }
  #tas{
    transform: translateY(-830%);
    width:52%;
    margin-left: 120px;
  }
  #xyz{
    transform: translateY(-600%);
            width:32%;
            margin-left: 170px;
  }
  #glob{
    transform: translateY(-280%);
            width:32%;
            margin-left: -150px;
  }
}
@media screen and (max-width: 380px){
  #two{
    width:38%;
            font-size: 18px;
            margin-left: 210px;
  }
  #one{
        width:45%;
        margin-left: 45px;
        font-size: 18px;
  }
  #one{
    margin-top: 390px;
  }
  #only{
    transform: translate(15%,380%);
  }
  #add{
    transform: translateX(-30%);
  }
  #li{
      transform: translateX(-65%);
  }
  #dead1{
    transform: translate(-15%,4300%);

  }
  #dead2{
    transform: translate(95%,4300%);
  }
  .sec{
      margin-left: 80px;
  }
  #trans{
    transform: translateY(-560%);
    margin-left:50px;
    widtH:78%;

  }
  .oneline{
    float:left;

  }
  #tas{
    transform: translateY(-830%);
    width:52%;
    margin-left: 120px;
  }
  #xyz{
    transform: translateY(-600%);
            width:32%;
            margin-left: 170px;
  }
  #glob{
    transform: translateY(-280%);
            width:32%;
            margin-left: -150px;
  }
}
@media screen and (max-width: 370px){
  #two{
    width:38%;
            font-size: 18px;
            margin-left: 210px;
  }
  #one{
        width:45%;
        margin-left: 45px;
        font-size: 18px;
  }
  #one{
    margin-top: 390px;
  }
  #only{
    transform: translate(15%,380%);
  }
  #add{
    transform: translateX(-30%);
  }
  #li{
      transform: translateX(-65%);
  }
  #dead1{
    transform: translate(-15%,4300%);

  }
  #dead2{
    transform: translate(135%,4300%);
  }
  .sec{
      margin-left: 80px;
  }
  #trans{
    transform: translateY(-570%);
    margin-left:50px;
    widtH:78%;

  }
  .oneline{
    float:left;

  }
  #tas{
    transform: translateY(-830%);
    width:52%;
    margin-left: 120px;
  }
  #xyz{
    transform: translateY(-600%);
            width:32%;
            margin-left: 170px;
  }
  #glob{
    transform: translateY(-280%);
            width:32%;
            margin-left: -150px;
  }
}
@media screen and (max-width: 360px){

  #trans{
    transform: translateY(-560%);
    margin-left:40px;
    widtH:79%;

  }
  .oneline{
    float:left;

  }
  #tas{
    transform: translateY(-830%);
    width:53%;
    margin-left: 120px;
  }
  #xyz{
    transform: translateY(-600%);
            width:33%;
            margin-left: 170px;
  }
  #glob{
    transform: translateY(-280%);
            width:33%;
            margin-left: -150px;
  }
.parallax{

min-height: 710px;

 }
 #dead1{
   transform: translate(-15%,4500%);

 }
 #dead2{
   transform: translate(175%,4500%);
 }
 #two{
   width:38%;
           font-size: 18px;
           margin-left: 215px;
           margin-top: 20px;
 }

 #one{
       width:45%;
       margin-left: 45px;
       font-size: 18px;
 }
 #one{
   margin-top: 410px;
 }
}
html,body{
  overflow-x: hidden;
}
